body {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  color: #66635c;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: grey;
}
